* {
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	margin: 5px;
	font-family: Arial, sans-serif;
}

header {
	padding: 5px 5px 5px 20px;
	border: 1px solid gray;
}

/**** Header Logo ****/

.logo {
	padding: .75rem;
}

.grayColor {
	color: gray;
	font-style: italic;
}

.blackColor {
	color: black;
	font-style: normal;
}

.logo a span {
	font-size: 3rem;
	font-weight: bold;
	display: inline-block;
}

.logo a:hover .blackColor {
		color: #f56642;
}

.logo a:hover .grayColor {
	color: black;
}
	
.logo p {
	font-size: 0.75rem;
}

/**** Header Menu ****/

.headerNavigation ul {
	padding: 3px;
	margin: 5px 0 3px 0;
}

.headerNavigation ul li {
	display: inline-block;
	padding: 1px 30px 1px 1px;
}

.headerNavigation ul li a {
	color: gray;
	padding: 1px;
	background-color: LightGray;
	border-radius: 5px;

}

.headerNavigation ul li a:hover {
	color: blue;
}

.flexHeader {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/**** Main Section ****/

.examples {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.examples p {
	font-weight: bold;
}

.examples ul li {
	display: inline-block;
}

.examples ul li a  {
	display: inline-block;
	color: gray; 
	padding: 1px;
	margin: 1px;
	background-color: LightGray;
	border-radius: 5px;
}

.examples ul li a:hover {
	color: blue;
}

/*
#main {
display: grid;
grid-template-columns: 1fr 1fr;
}

.runButton {
grid-row: 1;
margin-bottom: 5px;
width: 50px;
}

.outputHeader {
grid-row: 1;
margin: 0;
}

.CodeMirror {
grid-row: 2;
border: 1px solid black;
max-width: 95%;
display: inline;
}

.outputBox {
grid-row: 2;
border-top: 1px solid black;
}

.image {
grid-row: 3;
display: inline-block;
max-width: 100%;
width: calc(100% - 25px);
height: auto;
left: 25px;
}

 */
