* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	background-color: red;
}

.header {
	grid-column: 1;
	grid-row: 1;
}

.navigation {
	grid-column: 1;
	grid-row: 2;
}

.buttons {
	grid-column: 1;
	grid-row 3;
}

.outputLable {
	grid-column: 1;
	grid-row: 5;
}

.text-schematic-wrapper {
	grid-column: 1;
	grid-row: 4;
}

.CodeMirror {
	border: 1px solid grey;
	min-width: 350px;
}

.schematic {
	width: 100%;
	height: auto;
	border: 1px solid grey;
	margin-top: 5px;
	padding: 5px;
}

.outputBox {
	grid-column: 1;
	grid-row: 6;
	border-top: 1px solid grey;
}

.nPort {
	padding: 15px;
	border: 1px solid gray;
	display: inline-block;
}

#n, #port {
	font-size: 48px;
	font-weight: bold;
}

#n {
	color: grey;
	font-style: italic;
}

.circuitTitle {
	padding-top: 20px;
}

ul {
	padding-top: 0;
	padding-left: 0;
}

li {
	display: inline-block;
}

.menuItem {
	color: grey;
	text-decoration: none;
}

.button {
	padding-right: 5px;
	padding-left: 5px;
}

@media (min-width: 860px) {

	.wrapper {
		display: grid;
		grid-template-columns: repeat(4, [col-start] 1fr);
		grid-gap: 20px;
		background-color: white;
	}

	.header {
		grid-column: col-start / span 2;
		grid-row: 1;
	}

	.navigation {
		grid-column: col-start 3 / span 2;
		grid-row: 1;
	}

	.buttons {
		grid-column: col-start / span 2;
		grid-row 2;
	}

	.outputLable {
		grid-column: 3 / 5;
		grid-row: 2;
	}

	.text-schematic-wrapper {
		grid-column: col-start / span 2;
		grid-row: 3;
	}

	.CodeMirror {
		border: 1px solid grey;
	}

	.schematic {
		width: 100%;
		height: auto;
		border: 1px solid grey;
		margin-top: 5px;
		padding: 5px;
	}

	.outputBox {
		grid-column: 3 / 5;
		grid-row: 3;
		border-top: 1px solid grey;
	}

	.nPort {
		padding: 15px;
		border: 1px solid gray;
		display: inline-block;
	}

	#n, #port {
		font-size: 48px;
		font-weight: bold;
	}

	#n {
		color: grey;
		font-style: italic;
	}

	.circuitTitle {
		padding-top: 20px;
	}

	ul {
		padding-top: 30;
		padding-left: 50;
	}

	li {
		display: inline-block;
	}

	.menuItem {
		color: grey;
		text-decoration: none;
	}

	.button {
		padding-right: 5px;
		padding-left: 5px;
	}

}
