body {
	margin-left: 15px;
}

p#topLeft {
	padding: 25px;
	border: 1px solid gray;
	max-width: 400px;
	display: inline-block;
}

ul#topRight {
	display: inline-block;
	position: relative;
	bottom: 25px;
	left: 250px;
}

ul#topRight li {
	display: inline-block;
}

#n, #port {
	font-size: 48px;
	font-weight: bold;
}

#n {
	color: grey;
	font-style: italic;
}

table {
}

a.inTable {
	color: grey;
	text-decoration: none;
}

table th {
	color: white;
	background-color: DarkSlateGrey;
}

table tr {
	background-color: LightGrey;
}

table th, table td {
	margin: 10px;
	padding-left: 4px;
	padding-right: 4px;
}

#main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.runButton {
	grid-row: 1;
	margin-bottom: 5px;
	width: 50px;
}

.outputHeader {
	grid-row: 1;
	margin: 0;
}

.CodeMirror {
	grid-row: 2;
	border: 1px solid black;
	max-width: 95%;
	display: inline;
}

.outputBox {
	grid-row: 2;
	border-top: 1px solid black;
}

.image {
	grid-row: 3;
	display: inline-block;
	width: auto;
	height: 300px;
	left: 25px;
}


